public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*plugin*
public-hoist-pattern[]=*taro*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*commitlint*
public-hoist-pattern[]=*ice*
public-hoist-pattern[]=husky
public-hoist-pattern[]=is-ci
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=commitizen
public-hoist-pattern[]=cz-conventional-changelog
public-hoist-pattern[]=*postcss*